<a href="https://colab.research.google.com/github/luferazth/My_practices/blob/main/pandas_prueba1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Step 1. Import the necessary libraries
import pandas as pd
import numpy as np

In [3]:
chipo = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')

In [4]:
chipo.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

In [5]:
chipo.shape[0]

4622

In [6]:
chipo.shape[1]

5

In [7]:
[col for col in chipo.columns]

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [9]:
chipo.groupby('item_name')['quantity'].sum().sort_values()[::-1]

item_name
Chicken Bowl                             761
Chicken Burrito                          591
Chips and Guacamole                      506
Steak Burrito                            386
Canned Soft Drink                        351
Chips                                    230
Steak Bowl                               221
Bottled Water                            211
Chips and Fresh Tomato Salsa             130
Canned Soda                              126
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Side of Chips                            110
Veggie Burrito                            97
Barbacoa Burrito                          91
Veggie Bowl                               87
Carnitas Bowl                             71
Barbacoa Bowl                             66
Carnitas Burrito                          60
Steak Soft Tacos                          56
6 Pack Soft Drink                         55
Chips and Tomatillo Red Chili Salsa       50
Chicken Crispy Tacos                      50
Chips and Tomatillo Green Chili Salsa     45
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        36
Chips and Tomatillo-Green Chili Salsa     33
Steak Salad Bowl                          31
Nantucket Nectar                          29
Chips and Tomatillo-Red Chili Salsa       25
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        23
Izze                                      20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          8
Carnitas Crispy Tacos                      8
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Steak Salad                                4
Bowl                                       4
Salad                                      2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: quantity, dtype: int64

In [10]:
chipo['choice_description'].value_counts()

[Diet Coke]                                                                                                                                      134
[Coke]                                                                                                                                           123
[Sprite]                                                                                                                                          77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                            42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                 40
                                                                                                                                                ...
[Fresh Tomato Salsa (Mild), [Pinto Beans, Black Beans, Rice, Cheese, Sour Cream, Lettuce]]                                                         1
[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans, Cheese, Sour Cream, Lettuce]]      1
[Fresh Tomato (Mild), [Guacamole, Rice, Black Beans]]                                                                                              1
[[Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Cheese, Lettuce]]                                    1
[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]                                                                   1
Name: choice_description, Length: 1043, dtype: int64

In [11]:
chipo.groupby('choice_description')['quantity'].sum().sort_values()[::-1]

choice_description
[Diet Coke]                                                                                                       159
[Coke]                                                                                                            143
[Sprite]                                                                                                           89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                             49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]                                                      42
                                                                                                                 ...
[Tomatillo Green Chili Salsa, [Fajita Vegetables, Pinto Beans, Cheese]]                                             1
[Tomatillo Green Chili Salsa, [Fajita Vegetables, Lettuce]]                                                         1
[Tomatillo Green Chili Salsa, [Fajita Vegetables, Cheese, Sour Cream, Lettuce]]                                     1
[Tomatillo Green Chili Salsa, [Fajita Vegetables, Cheese, Sour Cream, Guacamole, Lettuce, Rice]]                    1
[Adobo-Marinated and Grilled Chicken, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]      1
Name: quantity, Length: 1043, dtype: int64

In [12]:
chipo['quantity'].sum()

4972

In [13]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace("$","")))
chipo['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [14]:
chipo['order_id'].unique().max()

1834

In [15]:
chipo.loc[chipo['order_id']==1443]['item_price'].sum()

160.74

In [16]:
len(sorted(chipo['item_name'].unique().tolist()))

50

In [17]:
revenue = (chipo['quantity']* chipo['item_price']).sum()
print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

In [18]:
chipo['revenue'] = chipo['quantity']* chipo['item_price']
chipo.groupby('order_id')['revenue'].sum().mean()

21.394231188658654

In [19]:
sorted(chipo['item_name'].unique().tolist())

['6 Pack Soft Drink',
 'Barbacoa Bowl',
 'Barbacoa Burrito',
 'Barbacoa Crispy Tacos',
 'Barbacoa Salad Bowl',
 'Barbacoa Soft Tacos',
 'Bottled Water',
 'Bowl',
 'Burrito',
 'Canned Soda',
 'Canned Soft Drink',
 'Carnitas Bowl',
 'Carnitas Burrito',
 'Carnitas Crispy Tacos',
 'Carnitas Salad',
 'Carnitas Salad Bowl',
 'Carnitas Soft Tacos',
 'Chicken Bowl',
 'Chicken Burrito',
 'Chicken Crispy Tacos',
 'Chicken Salad',
 'Chicken Salad Bowl',
 'Chicken Soft Tacos',
 'Chips',
 'Chips and Fresh Tomato Salsa',
 'Chips and Guacamole',
 'Chips and Mild Fresh Tomato Salsa',
 'Chips and Roasted Chili Corn Salsa',
 'Chips and Roasted Chili-Corn Salsa',
 'Chips and Tomatillo Green Chili Salsa',
 'Chips and Tomatillo Red Chili Salsa',
 'Chips and Tomatillo-Green Chili Salsa',
 'Chips and Tomatillo-Red Chili Salsa',
 'Crispy Tacos',
 'Izze',
 'Nantucket Nectar',
 'Salad',
 'Side of Chips',
 'Steak Bowl',
 'Steak Burrito',
 'Steak Crispy Tacos',
 'Steak Salad',
 'Steak Salad Bowl',
 'Steak Soft Tacos',
 'Veggie Bowl',
 'Veggie Burrito',
 'Veggie Crispy Tacos',
 'Veggie Salad',
 'Veggie Salad Bowl',
 'Veggie Soft Tacos']

In [20]:
chipo['item_name'] = chipo['item_name'].apply(lambda x: x.replace('-',' '))

In [21]:
sorted(chipo['item_name'].unique().tolist())

['6 Pack Soft Drink',
 'Barbacoa Bowl',
 'Barbacoa Burrito',
 'Barbacoa Crispy Tacos',
 'Barbacoa Salad Bowl',
 'Barbacoa Soft Tacos',
 'Bottled Water',
 'Bowl',
 'Burrito',
 'Canned Soda',
 'Canned Soft Drink',
 'Carnitas Bowl',
 'Carnitas Burrito',
 'Carnitas Crispy Tacos',
 'Carnitas Salad',
 'Carnitas Salad Bowl',
 'Carnitas Soft Tacos',
 'Chicken Bowl',
 'Chicken Burrito',
 'Chicken Crispy Tacos',
 'Chicken Salad',
 'Chicken Salad Bowl',
 'Chicken Soft Tacos',
 'Chips',
 'Chips and Fresh Tomato Salsa',
 'Chips and Guacamole',
 'Chips and Mild Fresh Tomato Salsa',
 'Chips and Roasted Chili Corn Salsa',
 'Chips and Tomatillo Green Chili Salsa',
 'Chips and Tomatillo Red Chili Salsa',
 'Crispy Tacos',
 'Izze',
 'Nantucket Nectar',
 'Salad',
 'Side of Chips',
 'Steak Bowl',
 'Steak Burrito',
 'Steak Crispy Tacos',
 'Steak Salad',
 'Steak Salad Bowl',
 'Steak Soft Tacos',
 'Veggie Bowl',
 'Veggie Burrito',
 'Veggie Crispy Tacos',
 'Veggie Salad',
 'Veggie Salad Bowl',
 'Veggie Soft Tacos']

4. How many products cost more than $10.00?

In [22]:
chipo.loc[chipo.item_price > 10.00].item_name.unique()

array(['Chicken Bowl', 'Steak Burrito', 'Chicken Burrito',
       'Barbacoa Bowl', 'Veggie Burrito', 'Veggie Bowl',
       'Chicken Soft Tacos', 'Steak Bowl', 'Carnitas Burrito',
       'Carnitas Bowl', 'Barbacoa Burrito', 'Chicken Salad Bowl',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chicken Crispy Tacos', 'Chicken Salad', 'Steak Salad Bowl',
       'Bowl', 'Veggie Soft Tacos', 'Barbacoa Soft Tacos',
       'Carnitas Crispy Tacos', 'Carnitas Salad Bowl',
       'Barbacoa Salad Bowl', 'Chips and Fresh Tomato Salsa',
       'Steak Soft Tacos', 'Carnitas Soft Tacos', 'Steak Crispy Tacos',
       'Chips and Guacamole', '6 Pack Soft Drink', 'Bottled Water',
       'Side of Chips'], dtype=object)

In [23]:
prices_chipo = chipo.iloc[chipo.groupby('item_name')['item_price'].idxmax()]

In [24]:
prices_chipo['item_price'] = prices_chipo['item_price']/prices_chipo['quantity']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
prices_chipo.quantity = prices_chipo.quantity/prices_chipo.quantity

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [26]:
prices_chipo = prices_chipo.drop('revenue', axis =1)

In [27]:
prices_chipo[['item_name', 'item_price']].sort_values(by='item_price').reset_index()

    index                              item_name  item_price
0    2235                            Canned Soda        1.09
1    3973                      Canned Soft Drink        1.25
2    4152                          Bottled Water        1.50
3    3887                          Side of Chips        1.69
4    2936                                  Chips        2.15
5    2972    Chips and Tomatillo Red Chili Salsa        2.39
6     235  Chips and Tomatillo Green Chili Salsa        2.95
7    1555     Chips and Roasted Chili Corn Salsa        2.95
8    3598           Chips and Fresh Tomato Salsa        2.95
9     674      Chips and Mild Fresh Tomato Salsa        3.00
10    601                       Nantucket Nectar        3.39
11      1                                   Izze        3.39
12   4489                    Chips and Guacamole        4.45
13   3389                      6 Pack Soft Drink        6.49
14    445                                   Bowl        7.40
15    520                           Crispy Tacos        7.40
16   1414                                  Salad        7.40
17    510                                Burrito        7.40
18   1694                           Veggie Salad        8.49
19   1653                    Veggie Crispy Tacos        8.49
20    846                            Veggie Bowl        8.49
21   3889                      Veggie Soft Tacos        8.49
22   3334                             Steak Bowl        8.69
23    217                   Chicken Crispy Tacos        8.75
24   1254                        Chicken Burrito        8.75
25   3750                         Carnitas Salad        8.99
26    664                            Steak Salad        8.99
27   2874                     Steak Crispy Tacos        8.99
28   3890                  Carnitas Crispy Tacos        8.99
29   2581                       Carnitas Burrito        9.25
30   4354                       Steak Soft Tacos        9.25
31   1255                          Steak Burrito        9.25
32   1903                  Barbacoa Crispy Tacos        9.25
33    409                           Chicken Bowl       10.98
34   3658                     Chicken Soft Tacos       10.98
35    250                          Chicken Salad       10.98
36    186                      Veggie Salad Bowl       11.25
37   3601                         Veggie Burrito       11.25
38    135                     Chicken Salad Bowl       11.25
39    130                       Barbacoa Burrito       11.75
40    988                    Barbacoa Soft Tacos       11.75
41   3480                          Carnitas Bowl       11.75
42   1963                    Carnitas Soft Tacos       11.75
43     39                          Barbacoa Bowl       11.75
44   1229                    Barbacoa Salad Bowl       11.89
45    281                       Steak Salad Bowl       11.89
46   1132                    Carnitas Salad Bowl       11.89

In [28]:
chipo.loc[chipo['item_name']== 'Carnitas Salad Bowl']

      order_id  quantity  ... item_price revenue
1132       468         1  ...      11.89   11.89
1865       756         1  ...       9.39    9.39
2610      1035         1  ...      11.89   11.89
3115      1243         1  ...       9.39    9.39
3749      1499         1  ...      11.89   11.89
4239      1692         1  ...      11.89   11.89

[6 rows x 6 columns]

In [29]:
chipo.loc[chipo['item_name']== 'Veggie Salad Bowl']

      order_id  quantity  ... item_price revenue
186         83         1  ...      11.25   11.25
295        128         1  ...      11.25   11.25
455        195         1  ...      11.25   11.25
496        207         1  ...      11.25   11.25
960        394         1  ...       8.75    8.75
1316       536         1  ...       8.75    8.75
1884       760         1  ...      11.25   11.25
2156       869         1  ...      11.25   11.25
2223       896         1  ...       8.75    8.75
2269       913         1  ...       8.75    8.75
2683      1066         1  ...       8.75    8.75
3223      1289         1  ...      11.25   11.25
3293      1321         1  ...       8.75    8.75
4109      1646         1  ...      11.25   11.25
4201      1677         1  ...      11.25   11.25
4261      1700         1  ...      11.25   11.25
4541      1805         1  ...       8.75    8.75
4573      1818         1  ...       8.75    8.75

[18 rows x 6 columns]

In [30]:
chipo.loc[chipo['item_name']== 'Veggie Salad Bowl'].sum()

order_id                                                          17303
quantity                                                             18
item_name             Veggie Salad BowlVeggie Salad BowlVeggie Salad...
choice_description    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
item_price                                                        182.5
revenue                                                           182.5
dtype: object

In [63]:
a = chipo.groupby(['order_id','item_name'])['quantity'].sum().loc[1:,'Canned Soda'].sort_values(ascending=False)

In [67]:
b = a[a>=2]
b

order_id  item_name
901       Canned Soda    4
450       Canned Soda    4
1156      Canned Soda    4
787       Canned Soda    3
108       Canned Soda    3
287       Canned Soda    2
151       Canned Soda    2
1434      Canned Soda    2
1396      Canned Soda    2
1349      Canned Soda    2
1258      Canned Soda    2
288       Canned Soda    2
1440      Canned Soda    2
376       Canned Soda    2
496       Canned Soda    2
859       Canned Soda    2
150       Canned Soda    2
9         Canned Soda    2
1550      Canned Soda    2
81        Canned Soda    2
1484      Canned Soda    2
23        Canned Soda    2
73        Canned Soda    2
76        Canned Soda    2
Name: quantity, dtype: int64

In [69]:
len(b)

24